$color-primary: #202023;
$color-background: #808080b3;
$color-dark: #2e2525;
$color-light: #bda482;

$content-width: 1200px;
$tablet-width: 1279px;
$mobile-big-width: 767px;
$mobile-small-width: 320px;
