@font-face {
  font-family: "Georgia";
  src: url(../../assets/fonts/georgia/Georgia-Bold.woff) format("woff"),
    url(../../assets/fonts/georgia/Georgia-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
